---
layout: default
title: Home
font_family: "Dosis Light"
lang: en
---

<div class="container_center">
  <img src="{{ site.profile_image }}" alt="{{ site.my_name.en }} Profile Image" class="logo" />

  <h1>Achieve Optimal Asset Performance & AI Product Leadership</h1>
  <h2>I'm {{ site.my_name.en }}, an {{ site.my_role.en }}.</h2>

  <div class="slogan">
    I build market-leading AI features for Technology Providers & deliver game-changing AI strategies for Asset
    Operators.
  </div>

  <p>
    If you're ready to leverage AI for transformative growth, enhanced efficiency, or a stronger competitive edge, let's
    explore how my expertise can deliver your specific goals.
  </p>
  <a href="{{ site.meeting_link }}" target="_blank" class="book-call-btn">Book a Call to discuss your AI projects</a>
</div>

<hr />
<div class="client_outcomes_container">
  <h3>Delivering Measurable Impact</h3>
  {% for outcome in site.data.client_outcomes_en %}
  <div class="outcome_item">
    <h4>{{ outcome.title }}</h4>
    <p>{{ outcome.description }}</p>
    <p><a href="{{ site.baseurl }}/en/portfolio#{{ outcome.portfolio_anchor }}">Learn More →</a></p>
  </div>
  {% endfor %}
  <p style="text-align: center; margin-top: 1.5em">
    <a href="{{ site.baseurl }}/en/portfolio" class="cta-link">Explore All Success Stories</a>
  </p>
</div>

<!-- TESTIMONIALS SECTION START -->
{% include testimonials_en.html %}
<!-- TESTIMONIALS SECTION END -->

<hr />
<div class="highlights">
  <div>
    <i class="fa fa-star fa-spin fa-3x"></i>
    <h4>My Services</h4>
    <p>See how my expertise can elevate your AI software or optimize your industrial AI strategy.</p>
    <a href="{{ site.baseurl }}/en/services_build">Unlock Your AI Potential</a>
  </div>
  <div>
    <i class="fa fa-trophy fa-4x"></i>
    <h4>Proven Results</h4>
    <p>Explore real-world examples of how I've driven tangible value & measurable impact.</p>
    <a href="{{ site.baseurl }}/en/portfolio">View My Success Stories</a>
  </div>
  <div>
    <i class="fa fa-user fa-3x"></i>
    <h4>About Me</h4>
    <p>Discover the expertise & experience that enables me to deliver <i>your</i> Strategic AI Vision.</p>
    <a href="{{ site.baseurl }}/en/about">Why Partner With Me</a>
  </div>
</div>
