<footer>
  © 2025 {{ site.company }} ({{ site.legal_name }}) •
  <a href="{{ site.baseurl }}/legal/legal_notice_de">Impressum</a>
  • Für alle Anfragen verwenden Sie bitte {% include email.html %} •
  <a rel="nofollow" href="{{ site.insurance.link }}" target="_blank" title="{{ site.insurance.title_de }}"
    ><img
      border="0"
      src="{{ site.baseurl }}/{{ site.insurance.seal }}"
      width="{{ site.insurance.width }}"
      height="{{ site.insurance.height }}"
      alt="{{ site.insurance.title_de }}"
  /></a>
</footer>
