{% assign effective_lang = page.lang | default: site.lang %}
{% assign footer_copy = site.data.footer[effective_lang] | default: site.data.footer[site.lang] %}
{% assign insurance_title = site.data.insurance.title[effective_lang] | default: site.data.insurance.title[site.lang] %}

<footer>
  © 2025 {{ site.company }} ({{ site.legal_name }}) •
  <a href="{{ site.baseurl }}{{ footer_copy.legal_notice_path }}">{{ footer_copy.legal_notice_label }}</a>
  • {{ footer_copy.inquiry_label }} {% include email.html %} •
  <a rel="nofollow" href="{{ site.data.insurance.link }}" target="_blank" title="{{ insurance_title }}"
    ><img
      border="0"
      src="{{ site.data.insurance.seal | relative_url }}"
      width="{{ site.data.insurance.width }}"
      height="{{ site.data.insurance.height }}"
      alt="{{ insurance_title }}"
  /></a>
</footer>