<nav>
  <ul class="navbar">
    <div class="navbar-links">
      <li>
        <a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/services" class="{% if page.url == '/en/services.html' %}active{% endif %}"
          >My Services</a
        >
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/portfolio" class="{% if page.url == '/en/portfolio.html' %}active{% endif %}"
          >My Portfolio</a
        >
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/about" class="{% if page.url == '/en/about.html' %}active{% endif %}"
          >About Me</a
        >
      </li>
    </div>
    <li class="navbar-call">
      <a href="{{ site.meeting_link }}" target="_blank" class="book-call-btn">Book a Call</a>
    </li>
  </ul>
  {% unless page.url contains '/legal/' %}
  <div class="language-switch">
    <a
      href="{% if page.url == '/' %}{{ site.baseurl }}/de/{% else %}{{ site.baseurl }}{{ page.url | replace: '/en/', '/de/' }}{% endif %}"
    >
      <img src="https://flagcdn.com/de.svg" alt="German Flag" width="20" style="vertical-align: middle" />
      Deutsche Fassung
    </a>
  </div>
  {% endunless %}
</nav>
