<nav>
  <ul class="navbar">
    <li>
      <a href="/strategic-ai/" class="{% if page.url == 'https://alexkolo.github.io/strategic-ai/' %}active{% endif %}"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/strategic-ai/services"
        class="{% if page.url == 'https://alexkolo.github.io/strategic-ai/services' %}active{% endif %}"
        >My Services</a
      >
    </li>
    <li>
      <a
        href="/strategic-ai/portfolio"
        class="{% if page.url == 'https://alexkolo.github.io/strategic-ai/portfolio' %}active{% endif %}"
        >My Portfolio</a
      >
    </li>
    <li>
      <a
        href="/strategic-ai/about"
        class="{% if page.url == 'https://alexkolo.github.io/strategic-ai/about' %}active{% endif %}"
        >About Me</a
      >
    </li>
    <li>
      <a href="{{ site.meeting_link }}" target="_blank" class="book-call-btn">Book a Call</a>
    </li>
  </ul>
</nav>
