<nav>
  <ul class="navbar">
    <div class="navbar-links">
      <li>
        <a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
      </li>
      <li>
        <a
          href="{{ site.baseurl }}/en/services_build"
          class="{% if page.url contains '/en/services_' %}active{% endif %}"
          >My&nbsp;Services</a
        >
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/portfolio" class="{% if page.url == '/en/portfolio.html' %}active{% endif %}"
          >My&nbsp;Success&nbsp;Stories</a
        >
      </li>
      <li>
        <a href="{{ site.baseurl }}/en/about" class="{% if page.url == '/en/about.html' %}active{% endif %}"
          >About&nbsp;Me</a
        >
      </li>
    </div>
    <div class="navbar-call">
      <li>
        <a rel="nofollow" href="{{ site.insurance.link }}" target="_blank" title="{{ site.insurance.title_en }}"
          ><img
            border="0"
            src="{{ site.baseurl }}/{{ site.insurance.seal }}"
            width="31"
            height="35"
            alt="{{ site.insurance.title_en }}"
        /></a>
      </li>
      <li>
        <a href="{{ site.linkedin_link }}" target="_blank" class="linkedin-icon">
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="{{ site.meeting_link }}" target="_blank" class="book-call-btn">Book a Call</a>
      </li>
    </div>
  </ul>
  {% unless page.url contains '/legal/' %}
  <div class="language-switch">
    <a
      href="{% if page.url == '/' %}{{ site.baseurl }}/de/{% else %}{{ site.baseurl }}{{ page.url | replace: '/en/', '/de/' }}{% endif %}"
    >
      <img src="https://flagcdn.com/de.svg" alt="German Flag" width="20" style="vertical-align: middle" />
      Deutsche Fassung
    </a>
  </div>
  {% endunless %}
</nav>
