<nav>
  <ul class="navbar">
    <div class="navbar-links">
      <li>
        <a href="{{ site.baseurl }}/de/" class="{% if page.url == '/de/' %}active{% endif %}">Startseite</a>
      </li>
      <li>
        <a
          href="{{ site.baseurl }}/de/services_build"
          class="{% if page.url contains '/de/services_' %}active{% endif %}"
          >Meine&nbsp;Leistungen</a
        >
      </li>
      <li>
        <a href="{{ site.baseurl }}/de/portfolio" class="{% if page.url == '/de/portfolio.html' %}active{% endif %}"
          >Meine&nbsp;Erfolgsgeschichten</a
        >
      </li>
      <li>
        <a href="{{ site.baseurl }}/de/about" class="{% if page.url == '/de/about.html' %}active{% endif %}"
          >Über&nbsp;mich</a
        >
      </li>
    </div>
    <div class="navbar-call">
      <li>
        <a href="{{ site.linkedin_link }}" target="_blank" class="linkedin-icon">
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="{{ site.meeting_link }}" target="_blank" class="book-call-btn">Termin buchen</a>
      </li>
    </div>
  </ul>
  {% unless page.url contains '/legal/' %}
  <div class="language-switch">
    <a
      href="{% if page.url == '/de/' %}{{ site.baseurl }}/{% else %}{{ site.baseurl }}{{ page.url | replace: '/de/', '/en/' }}{% endif %}"
    >
      <img src="https://flagcdn.com/gb.svg" alt="British Flag" width="20" style="vertical-align: middle" />
      English Version
    </a>
  </div>
  {% endunless %}
</nav>
