.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  text-align: center;
  font-size: 0.95rem;
  color: #333;
  margin-top: auto;
  padding: 20px;
}
