<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{site.company}}</title>
    <!-- Embed the Dosis Light font https://www.onlinewebfonts.com/download/3abc8753a394e3a1ab06b0a7a7f57119 -->
    <link
      href="https://db.onlinewebfonts.com/c/3abc8753a394e3a1ab06b0a7a7f57119?family=Dosis+Light"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all" /> -->
  </head>
  <body
    font_family="{% if page.font_family %}{{ page.font_family }}{% else %}{{ site.font_family }}{% endif %}, sans-serif"
  >
    <div class="container-lg px-3 my-5 markdown-body">{% include navigation.html %} {{ content }}</div>
    {% include footer.html %}
  </body>
</html>

<!-- inspired by https://webapps.stackexchange.com/questions/111500/how-to-customize-pages-hosted-at-github-io-overriding-default-layout -->
