<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ site.company }}</title>
    <link rel="icon" type="image/png" href="{{ site.profile_image }}" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Embed the Dosis Light font https://www.onlinewebfonts.com/download/3abc8753a394e3a1ab06b0a7a7f57119 -->
    <link
      rel="stylesheet"
      href="https://db.onlinewebfonts.com/c/3abc8753a394e3a1ab06b0a7a7f57119?family=Dosis+Light"
      type="text/css"
    />
    {% if page.noindex %}
    <meta name="robots" content="noindex, nofollow" />
    {% endif %}
  </head>
  <body style="font-family: {{ site.font_family }}, sans-serif;" class="lang-{{ page.lang | default: site.lang }}">
    {% assign effective_lang = page.lang | default: site.lang %}

    <div class="container-md px-3 my-5 markdown-body">
      {% if effective_lang == "de" %} {% include navigation_de.html %} {% else %} {% include navigation_en.html %} {%
      endif %}

      <div
        style="font-family: {{ page.font_family | default: site.font_family }}, sans-serif; {% if page.text_align %}text-align: {{ page.text_align }};{% endif %}"
      >
        {{ content }}
        <hr />
      </div>
    </div>
    {% if effective_lang == "de" %} {% include footer_de.html %} {% else %} {% include footer_en.html %} {% endif %}
  </body>
</html>
