---
layout: default
---

<div class="sub-navigation">
  <nav>
    <ul>
      <li>
        <a
          href="{{ site.baseurl }}/en/services_build"
          class="{% if page.url == '/en/services_build.html' %}active{% endif %}"
        >
          <i class="fa fa-cogs"></i>&nbsp;For&nbsp;Technology&nbsp;Providers
        </a>
      </li>
      <li>
        <a
          href="{{ site.baseurl }}/en/services_consult"
          class="{% if page.url == '/en/services_consult.html' %}active{% endif %}"
        >
          <i class="fa fa-industry"></i>&nbsp;For&nbsp;Asset&nbsp;Operators
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="page-content-below-subnav">{{ content }}</div>
