---
layout: default
---

{% assign effective_lang = page.lang | default: site.lang %} {% assign services_nav =
site.data.service_nav_labels[effective_lang] | default: site.data.service_nav_labels[site.lang] %} {% assign
services_paths = site.data.page_paths.services_subnav[effective_lang] | default:
site.data.page_paths.services_subnav[site.lang] %}

<div class="sub-navigation">
  <nav>
    <ul>
      <li>
        <a
          href="{{ site.baseurl }}{{ services_paths.build.href }}"
          class="{% if page.url == services_paths.build.active_path %}active{% endif %}"
        >
          <i class="fa fa-cogs"></i> {{ services_nav.build_label }}
        </a>
      </li>
      <li>
        <a
          href="{{ site.baseurl }}{{ services_paths.consult.href }}"
          class="{% if page.url == services_paths.consult.active_path %}active{% endif %}"
        >
          <i class="fa fa-industry"></i> {{ services_nav.consult_label }}
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="page-content-below-subnav">{{ content }}</div>
