---
layout: default
---

<div class="sub-navigation">
  <nav>
    <ul>
      {% if page.lang == "de" %}
      <li>
        <a
          href="{{ site.baseurl }}/de/services_build"
          class="{% if page.url == '/de/services_build.html' %}active{% endif %}"
        >
          <i class="fa fa-cogs"></i>&nbsp;Für&nbsp;Technologieanbieter
        </a>
      </li>
      <li>
        <a
          href="{{ site.baseurl }}/de/services_consult"
          class="{% if page.url == '/de/services_consult.html' %}active{% endif %}"
        >
          <i class="fa fa-industry"></i>&nbsp;Für&nbsp;Anlagenbetreiber
        </a>
      </li>
      {% else %} {# Default to English or any other language if not 'de' #}
      <li>
        <a
          href="{{ site.baseurl }}/en/services_build"
          class="{% if page.url == '/en/services_build.html' %}active{% endif %}"
        >
          <i class="fa fa-cogs"></i>&nbsp;For&nbsp;Technology&nbsp;Providers
        </a>
      </li>
      <li>
        <a
          href="{{ site.baseurl }}/en/services_consult"
          class="{% if page.url == '/en/services_consult.html' %}active{% endif %}"
        >
          <i class="fa fa-industry"></i>&nbsp;For&nbsp;Asset&nbsp;Operators
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<div class="page-content-below-subnav">{{ content }}</div>
